body {
    
    background-image: url('../Imagenes/image-top-inicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color:#ffffff;
}
a{
    color:#ffffff;
}


.jumbotron {
    /*background: rgba(0,0,0,0.3);*/
    background: none;
    padding-top: 70px;
    text-align:center;
}

    .jumbotron h1 {
        color: #ffffff;
        font-weight: 700;
    }

    .jumbotron p {
        margin-bottom: 15px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 200;
    }

.navbar-default {
    background: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,0.7);
}

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            color: #A5C4F2;
            background-color: transparent;
        }

.bg-footer {
    background-color: #EEECED;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #fff;
}

.btn-login {
    display: inline-block;
    padding: 12px 22px;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-color: none;
    border: 2px solid #fff;
    border-radius: 5px;
}

    .btn-login > a:hover {
        color: #A5C4F2;
        background-color: transparent;
    }


.passw {
    float: right;
}
.row h2 {
    color:#ffffff;
    text-align:center;
}
.row p{
    color:#ffffff;
    text-align:center;
}
#footer {
    background-color: #2f2f2f;
    color: #fff;
    clear: both;
    padding: 20px 0px;
    clear:both;
}
.table, th{
    border:1px solid;
    color:#ffffff;
    border-color:#ffffff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
