@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡Bienvenido!</h1>
    <p class="lead"> ContratosApp es una aplicación para que puedas acceder rápido y en cualquier lugar a la info de los Contratos de Locación de tus clientes. Nombres, fechas, direcciones y datos de los garantes </p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>¿Para que sirve?</h2>
        <p>
            Que no quede solo en papel, ContratosApp te recuerda sobre fechas importantes de tus contratos.
        </p>
    
    </div>
</div>