@model ContratosApp.Models.Contrato
@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<a class="btn btn-default">Buscar por Nombre de Contrato</a>
<div>

</div>
<a class="btn btn-default">Buscar por Locador</a>
<div>

</div>
<a class="btn btn-default">Buscar por Locatario</a>
